spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/users_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  sql:
    init:
      mode: always
      schema-locations: classpath:database/schema.sql
      data-locations: classpath:database/data.sql
      continue-on-error: true  # временно true для отладки
      separator: ";"           # явно указываем разделитель

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.jdbc: DEBUG
    org.springframework.boot.sql.init: DEBUG
    org.hibernate.SQL: DEBUG
    com.zaxxer.hikari: DEBUG